astroid==2.5.6
attrs==21.2.0
autopep8==1.5.6
awsebcli==3.19.4
bcrypt==3.2.0
beautifulsoup4==4.9.3
blessed==1.18.0
botocore==1.20.70
cached-property==1.5.2
cement==2.8.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
colorama==0.4.3
cryptography==3.4.7
Django==2.2
django-appconf==1.0.4
django-compressor==1.5
django-cors-headers==3.7.0
djangorestframework==3.12.4
docker==4.4.4
docker-compose==1.25.5
dockerpty==0.4.1
docopt==0.6.2
future==0.16.0
gunicorn==20.1.0
idna==2.10
jmespath==0.10.0
jsonschema==3.2.0
lazy-object-proxy==1.6.0
logilab-common==1.8.1
mypy-extensions==0.4.3
paramiko==2.7.2
pathspec==0.5.9
pe==0.2.0
pep8==1.5.7
pycodestyle==2.7.0
pycparser==2.20
pylint==1.4.4
pylint-django==0.6.1
pylint-plugin-utils==0.2.3
PyNaCl==1.4.0
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.3.1
requests==2.25.1
selenium==3.141.0
semantic-version==2.8.5
simplejson==3.8.0
six==1.14.0
soupsieve==2.2.1
sqlparse==0.4.1
termcolor==1.1.0
texttable==1.6.3
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.25.11
wcwidth==0.1.9
websocket-client==0.59.0
whitenoise==5.2.0
wrapt==1.12.1
xlwt==1.0.0
yahoo==0.1
yql-finance==0.1.0
ystockquote==0.2.4
