{% extends "base.html" %}
<br />
{% block head_title %} Main Page {% endblock head_title %}
<br />
{% block content %}
    </br></br></br></br></br>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <div class="container has-text-centered">
            <div class="columns is-vcentered">
                <div class="column is-5">
                    <figure class="image is-16by9">
                        <img
                                src="https://resizer.iproimg.com/unsafe/880x/https://assets.iproup.com/assets/jpg/2019/06/4559.jpg?6.3.1"
                                alt="Description"
                        />
                    </figure>
                </div>
                <div class="column is-6 is-offset-1">
                    <h1 class="title is-2">Stock Market</h1>
                    <h2 class="subtitle is-4">
                        A social media app for investors and traders.
                    </h2>
                    {% if request.user.is_authenticated %}
                    <p class="has-text-centered">
                        <a class="button is-medium is-grey" href="/news"> Learn more </a>
                    </p>
                    {% else %}
                        <a class="button is-medium is-grey" href="/register"> Learn more </a>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

    <div class="section1">
        <div class="container" id="test1">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 mb--30">
                    <div class="omga-08__single-fact">
                        <h3 class="title">1000+</h3>
                        <p>Traders use Tradytics regularly.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 mb--30">
                    <div class="omga-08__single-fact">
                        <h3 class="title">40</h3>
                        <p>Traders have a paid subscription.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 mb--30">
                    <div class="omga-08__single-fact">
                        <h3 class="title">5.8K+</h3>
                        <p>Traders have joined our discord.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 mb--30">
                    <div class="omga-08__single-fact">
                        <h3 class="title">4</h3>
                        <p>APIs used to get the data</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


<section class="hero is-white ">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-multiline is-centered">
        <div class="column is-3 has-text-centered">
          <div class="icon callout-icon">
            <i class="fas fa-newspaper fa-4x" style="color: burlywood"></i>
          </div>
          <br /><br />
          <p class="title is-10">News</p>
          <p class="subtitle is-5">
            Get news the latest news about stocks and other financial investments.
          </p>
        </div>

        <div class="column is-4 has-text-centered">
          <div class="icon callout-icon">
            <i class="fas fa-copy fa-4x" style="color: burlywood"></i>
          </div>
          <br /><br />
          <p class="title is-10">Watchlists</p>
          <p class="subtitle is-5">
            Add stocks to your watchlist and track it's progress.
          </p>
        </div>

        <div class="column is-4 has-text-centered">
          <div class="icon callout-icon">
            <i class="fas fa-tasks fa-4x" style="color: burlywood"></i>
          </div>
          <br /><br />
          <p class="title is-10">Portfolio</p>
          <p class="subtitle is-5">
            Keep track of your stocks and how they are performing.
          </p>
        </div>

        <div class="column is-4 has-text-centered">
          <div class="icon callout-icon">
            <i class="fas fa-user-friends fa-4x" style="color: burlywood"></i>
          </div>
          <br /><br />
          <p class="title is-10">Connect</p>
          <p class="subtitle is-5">
            Connect with like-minded people
          </p>
        </div>

        <div class="column is-4 has-text-centered">
          <div class="icon callout-icon">
            <i class="fas fa-code-branch fa-4x" style="color: burlywood"></i>
          </div>
          <br /><br />
          <p class="title is-10">Connect</p>
          <p class="subtitle is-5">
            Follow discussions about stocks!
          </p>
        </div>
      </div>
    </div>
  </div>
</section></br></br></br>
<div class="d-flex justify-content-center" id="part3">
  <a class="button is-info is-medium" href="/register">Sign Up</a>
</div>

<section class="section" id="part4">
  <div class="container has-text-centered">
    <div class="section-header">
      <h2 class="title">All you need in one place</h2>
      <h3 class="subtitle">
        Whether you’re a seasoned stock trader expert, or just getting started,
        this app unlocks the power of social media.
      </h3>
    </div>
  </div>
</section>
    {% include "components/footer.html" %}

{% endblock %}
