{% extends "base.html" %}
<br />
{% block head_title %} Main Page {% endblock head_title %}
<br />
{% block content %}
    </br></br></br></br></br>
<div class="hero-body">
  <div class="container has-text-centered">
    <div class="columns is-vcentered">
      <div class="column is-5">
        <figure class="image is-16by9">
          <img
            src="https://resizer.iproimg.com/unsafe/880x/https://assets.iproup.com/assets/jpg/2019/06/4559.jpg?6.3.1"
            alt="Description"
          />
        </figure>
      </div>
      <div class="column is-6 is-offset-1">
        <h1 class="title is-2">Stock Market</h1>
        <h2 class="subtitle is-4">
          A social media app for investors and traders.
        </h2>
        <p class="has-text-centered">
          <a class="button is-medium is-grey" href="/register"> Learn more </a>
        </p>
      </div>
    </div>
  </div>
</div>

<section class="hero is-white is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-multiline is-centered">
        <div class="column is-3 has-text-centered">
          <div class="icon callout-icon">
            <i class="fas fa-newspaper fa-4x" style="color: burlywood"></i>
          </div>
          <br /><br />
          <p class="title is-10">News</p>
          <p class="subtitle is-5">
            Get news the latest news about stocks and other financial investments.
          </p>
        </div>

        <div class="column is-4 has-text-centered">
          <div class="icon callout-icon">
            <i class="fas fa-copy fa-4x" style="color: burlywood"></i>
          </div>
          <br /><br />
          <p class="title is-10">Watchlists</p>
          <p class="subtitle is-5">
            Add stocks to your watchlist and track it's progress.
          </p>
        </div>

        <div class="column is-4 has-text-centered">
          <div class="icon callout-icon">
            <i class="fas fa-tasks fa-4x" style="color: burlywood"></i>
          </div>
          <br /><br />
          <p class="title is-10">Portfolio</p>
          <p class="subtitle is-5">
            Keep track of your stocks and how they are performing.
          </p>
        </div>

        <div class="column is-4 has-text-centered">
          <div class="icon callout-icon">
            <i class="fas fa-user-friends fa-4x" style="color: burlywood"></i>
          </div>
          <br /><br />
          <p class="title is-10">Connect</p>
          <p class="subtitle is-5">
            Connect with like-minded people
          </p>
        </div>

        <div class="column is-4 has-text-centered">
          <div class="icon callout-icon">
            <i class="fas fa-code-branch fa-4x" style="color: burlywood"></i>
          </div>
          <br /><br />
          <p class="title is-10">Connect</p>
          <p class="subtitle is-5">
            Follow discussions about stocks!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="d-flex justify-content-center">
  <a class="button is-info is-medium" href="/register">Sign Up</a>
</div>
<section class="section" id="how-it-works">
  <div class="container has-text-centered">
    <div class="section-header">
      <h2 class="title">All you need in one place</h2>
      <h3 class="subtitle">
        Whether you’re a seasoned stock trader expert, or just getting started,
        this app unlocks the power of social media.
      </h3>
    </div>
  </div>


{% endblock %}