{% extends "base.html" %}

{% block content %}
<section class="section is-small">
  <h1 class="title">Main Page</h1>
  <h2 class="subtitle">
    Easy authentication and authorization in Flask. <strong>sections</strong>, like the one you're currently reading.
  </h2>
</section>
<section class="hero is-info section is-small">
  <h1 class="title">Main Page</h1>
  <h2 class="subtitle">
    Easy authentication and authorization in Flask. <strong>sections</strong>, like the one you're currently reading.
  </h2>
</section>
{% endblock %}