{% extends 'base.html' %} <br/>
{% block head_title %} Input! {% endblock head_title %}
<br/>
{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <h4> Your ticker is:</h4>
        <h2>{{ meta.Name }} - ({{ meta.Symbol }}) </h2>
        <p><b>Description:</b> {{ meta.Description }}</p>
        </br>
        <div class="container">
            <section class="row">
                <h3>Financial information</h3>
                <table class="table text-center">
                    <tr><td> Exchange: </td><td> {{ meta.Exchange }}</td></tr>
                    <tr><td> Country: </td><td> {{ meta.Country }}</td></tr>
                    <tr><td> Sector: </td><td> {{ meta.Sector }}</td></tr>
                    <tr><td> Industry: </td><td> {{ meta.Industry }}</td></tr>
                    <tr><td> N.Employees: </td><td> {{ meta.FullTimeEmployees }}</td></tr>
                    <tr><td> Fiscal Year End: </td><td> {{ meta.FiscalYearEnd }}</td></tr>
                    <tr><td> Dividend Per Share: </td><td> ${{ meta.DividendPerShare }}</td></tr>
                    <tr><td> Earning Per Share: </td><td> ${{ meta.EPS }}</td></tr>
                    <tr><td> ProfitMargin: </td><td> ${{ meta.ProfitMargin }}</td></tr>
                    <tr><td> Gross Profit: </td><td> ${{ meta.GrossProfitTTM }}</td></tr>
                    <tr><td> Analyst Target Price: </td><td> ${{ meta.AnalystTargetPrice }}</td></tr>
                    <tr><td> 50 Moving average: </td><td> {{ meta.50DayMovingAverage }}</td></tr>
                    <tr><td> 200 Moving average: </td><td> {{ meta.200DayMovingAverage }}</td></tr>
                </table>
                <h3>Today's price for the ticker: ({{ ticker }})</h3>
                <table class="table text-center">
                    <tr><td> Open: </td><td> ${{ price.open }}</td></tr>
                    <tr><td> High: </td><td> ${{ price.high }}</td></tr>
                    <tr><td> Low: </td><td> ${{ price.low }}</td></tr>
                    <tr><td> Close: </td><td> ${{ price.close }}</td></tr>
                    <tr><td> Volume: </td><td> {{ price.volume }}</td></tr>
                </table>
            </section>
        </div></br></br></br>
        <h1>Buy this stock</h1></br>
        <p>Insert number of shares: </p>
        <form method="post" class="form-inline" role="form" action="portfolio">
            {% csrf_token %}
            <div class="form-group">
                <input style="width:75px" class="form-control" name="shares" class="number" placeholder="Shares" type="text"/>
                <input type="hidden" name="which-form" value="buy-sell"/>
                <input type="hidden" name="stock-symbol" value="{{ stocks.Symbol }}"/>
                <input type="hidden" name="cost-per-share" value="{{ stocks.LastTradePriceOnly }}"/>
            </div>

            <div class="btn-group">

                <button type="submit" name="buy-stock" value="buy-stock" class="btn btn-primary">Buy</button>
{#                <button type="submit" name="sell-stock" value="sell-stock" class="btn btn-primary">Sell</button>#}
            </div>
        </form>
        </br></br> </br></br>
        <div class="container">
            <section class="row">
                <h3>Our recommendation for - ({{ ticker }}) is: </h3>
                {% if meta.AnalystTargetPrice >= price.close and meta.50DayMovingAverage <= meta.200DayMovingAverage %}
                    <h3> Sell 📉</h3>
                {% else %}
                    <h3> Buy 📈 </h3>
                {% endif %}
            </section>
        </div></br>

        <div class="mh-100 mw-100">
            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container ">
                <div id="tradingview_2f322"></div>

                <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                <script type="text/javascript">
                    new TradingView.widget(
                        {
                            "width": 1100,
                            "height": 610,
                            "symbol": "NASDAQ:AAPL",
                            "interval": "240",
                            "timezone": "Europe/Dublin",
                            "theme": "light",
                            "style": "1",
                            "locale": "uk",
                            "toolbar_bg": "#f1f3f6",
                            "enable_publishing": false,
                            "allow_symbol_change": true,
                            "container_id": "tradingview_2f322"
                        }
                    );
                </script>
            </div>
            <!-- TradingView Widget END -->
        </div></br></br></br>
        <h3>Here are the latest news about: ({{ ticker }})</h3>
        <div class="card text-center" style="width: 80rem;">
            <img src="{{ news.image }}" class="card-img-top" alt="{{ news.source }}">
            <div class="card-body">
                <h4 class="card-title">{{ news.headline }}</h4>
                <p class="card-text">{{ news.summary|truncatechars:1000 }}</p>
                <a href="{{ news.url }}" target="_blank" class="btn btn-primary">Read More</a>

            </div>
        </div></br></br></br>

    {% endif %}
    <div class="text-center">
        <a class="btn btn-primary" href="/stocks">Go Back</a>
    </div> </br></br></br>



{% endblock content %}