
<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
    <a class="navbar-brand" href="/">Stocks App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">

            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/global">General Feed <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add_stock' %}">Portfolio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/news">News <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stocks">Search <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">VIP <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api">API </a>
                </li>
                </ul>
                </div>
            {% else %}

            {% endif %}
        </ul>


    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">

            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/">Main page </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile/edit">Edit Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>

            {% else %}
            <li class="nav-item"><a class="nav-link" href="/main"> Main</a></li>
            <li class="nav-item"><a class="nav-link" href="/login"> Login</a></li>
            <li class="nav-item"><a class="nav-link" href="/register"> Register</a></li>
            {% endif %}
        </ul>
        <form class="form-inline my-2 my-lg-0 d-none">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>


</nav>
